doctype 
html 
    head
    title = title
    link(rel='stylesheet' href='style.css') 
    body 
        header 
            nav 
        h1 #{title}
        section 
            block content
        footer  

