html{
    background-color: #024;
    color: white;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: yellow;

}

.menu_item{
    display: inline-block;
    border: 2px solid white;
    width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #428;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
.menu_item:hover{
    background-color: rgb(98, 76, 143);
}