extends layout 

block content 
    h3=title 
    form(action="/submitted", method="POST")
        p Name:     
            input(type="text" name='name')
        p Age: 
            input(type="text" name='age')
        p Species: 
            input(type="text" name="species")
        p Image Link: 
            input(type="text" name="imgInput")
        p
            input(type="submit", value="Submit") 